
@font-face {
    font-family: 'Redressed-Regular';
    src: url('../fonts/Redressed-Regular.ttf') 
}

@font-face {
    font-family: 'Quintessential-Regular';
    src: url('../fonts/Quintessential-Regular.ttf') 
}

@font-face {
    font-family: 'DancingScript-Medium';
    src: url('../fonts/DancingScript-Medium.ttf') 
}

@font-face {
    font-family: 'Pacifico-Regular';
    src: url('../fonts/Pacifico-Regular.ttf') 
}

@font-face {
    font-family: 'Caveat-Medium';
    src: url('../fonts/Caveat-Medium.ttf') 
}

@font-face {
    font-family: 'RuslanDisplay-Regular';
    src: url('../fonts/RuslanDisplay-Regular.ttf') 
}

@font-face {
    font-family: 'GreatVibes-Regular';
    src: url('../fonts/GreatVibes-Regular.ttf') 
}
  html,body{
	margin-top: 0;
	background-color: #fff;
	line-height: 1.5;
	font-weight: 400;
	font-family: sans-serif;
	
	
}



ul.fixed__socials {
 text-decoration-line: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 17px;
  left: 30px;
  z-index: 99999999;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

ul.fixed__socials li {
  margin-bottom: 15px;
}

ul.fixed__socials li a {
  display: inline-block;
  width: 28px;
  height: 28px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: #acaaab;
  border: 1px solid #acaaab;
  font-size: 16px;
  text-align: center;
  line-height: 26px;
  text-decoration: none;
}

.fa-vk::before {
  content: "\f189";
  font-style: normal;
}

.fa-youtube::before {
  content: "\f167";
  font-style: normal;
}

.fa-instagram::before {
  content: "\f16d";
  font-style: normal;
}
.fa-twitter::before {
  content: "\f099";
  font-style: normal;
}

ul.fixed__socials li a:hover{
	color: red;

}




.container{
	max-width: 1170px;
	padding: 0 15px;
	box-sizing: border-box;
}

.header_menu{

	margin-bottom: 145px;
	

}

.logo{
	margin-right: 44px;
	

	

}

.logo img{
	vertical-align: middle;
	border-style: none;
}

.header_button{
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 24px;
	font-weight: 600;
	justify-content: space-between;
	flex-direction: row;
	padding-left: 243px;
    margin-top: -98px;
    flex-wrap: wrap;

	
}

.header_button a{
	color: black;
	text-decoration: none;
}

.header_button a:hover{
	color: red;
}

.search-form{
	display: flex;
	position: relative;
	flex-direction: row;
	padding-bottom: 20px;

	

}

.search-form form{
   display:  flex;
   position: relative;
}

.search-form form button{
	width: 30px;
	height: 30px;
	border: 5px solid black;
	display: flex;
	align-items: center;
	font-size: 14px;
	position: relative;

}

.main_color{
	
	background-color: black;

}

.main_foto{
   background-image: url(../img/main_foto.jpeg);
   background-repeat: no-repeat;
   width: 100%;
   height: 700px;
   background-size: 1000px;
   background-position:right;
	
	
}
.main_title{
	color: #fff;
	font-weight: bold;
	padding-top: 74px;
	font-family: 'Redressed-Regular';
}



.main_foto p{
	color: #fff;
	font-size: 25px;
}

.about_suvorin{
	display: flex;
	flex-wrap: wrap;
	margin-top: 50px;

}

.about_suvorin h1{
	font-family: 'Quintessential-Regular';
	font-weight: bold;
}

.about_suvorin p{
  display: block;
  padding-top: 50px
  
  


}

.about_suvorin h5{
  font-size: 18px;
}

.about_suvorin img{
	height: 350px;


	
	
	

}

.video_suvorin{
	padding-top: 50px;
	background-color: black;
	display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
	padding-bottom: 150px;

	
	

}

.video_title{
	color:#fff;
	font-family: 'DancingScript-Medium';
	font-style: italic;
	margin-bottom: 90px;
	font-weight: bold;

}

.video_1{
	display: inline-block;
	position: absolute;
	
	
	
}

.video_2{

	display: inline-block;
	position: relative;
	
	
   

}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


.column {
 display: inline-block;
 margin-bottom: 20px; 
 
  width: 33%;

}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}


.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}


.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}


.mySlides {
  display: none;
}


.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.foto_title{
	margin-top: 50px;
	font-family: 'Pacifico-Regular';
	margin-bottom: 48px;

}

.foto_text{
font-family: 'Caveat-Medium';
font-size: 24px;
}

.biblioteka{
	background-color: black;
	display: flex;
	flex-direction: row;
	margin-bottom: 150px;
}

.biblioteka_title{
	font-family: 'RuslanDisplay-Regular';
	color: #fff;
	font-weight: bold;
	margin-top: 50px;
	margin-bottom: 48px


}

.biblioteka_text{
	color: #d2d2d2;;
	font-family: 'Caveat-Medium';
	font-size: 24px;
}
  


.gall {
  text-align: center;
  position: relative;
  padding-top: 20%;
  margin-right: 49px;
  -moz-user-select: none; 
  user-select: none;
  margin-bottom: 150px;
}
.gall img {
  position: absolute;
  top: 25%;
  left: 12.5%;
  max-width: 24.5%;
  max-height: 49.5%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: zoom-in;
  transition: .2s;
}
.gall img:nth-child(4n-2) {left: 37.5%;}
.gall img:nth-child(4n-1) {left: 62.5%;}
.gall img:nth-child(4n) {left: 87.5%;}
.gall img:nth-child(n+5) {top: 90%;}

.gall img:focus {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  max-width: 300%;
  max-height: 300%;
  outline: none;
  pointer-events: none;
}
.gall img:focus ~ div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: #fff;
  cursor: zoom-out;
}

.personal_biblioteka{
	background-color: #fff;
	display: flex;
	margin-bottom: 150px;

	
	
	
	
	
	}

     .personal_biblioteka_title{
	font-family: 'Pacifico-Regular';
}

	.text_personal_biblioteka{
		
		font-family: 'Caveat-Medium';
		font-size: 24px;


	}


	.catalog_foto{
		display: flex;
		
		/*margin-left: 416px;*/
		
	}



  

.catalog_button{
	display: flex;
	/*margin-left: 416px;*/
	justify-content: center;
	background: #1a1a1a;
	color: #fff;
	margin-top: 20px;
	font-size: 20px;
	width: 27%;
	text-transform: uppercase;
	margin-bottom: 20px;
	text-decoration: none;
	border-radius: 5px;
	
	

	
	

	  

}

.catalog_button:hover{
	color: red;

}



.footer_background{
    background-color: black;
    display: flex;

}

.form{
	margin-bottom: 50px;
}

.iks{
	margin-top: 120px;
}

.text_1{
	color: #fff;
	font-family: 'GreatVibes-Regular';
}


	

.link_button {
	
	 
	display: flex;
	flex-direction: column;
	margin-top: 111px;
	list-style-type: none;

}

.link_button a{
	color: #fff;
	font-family: 'Redressed-Regular';
	text-decoration: none;
	font-size: 24px;
}

.link_button a:hover{
	color: red;
}



@media screen and (max-width: 1199px) {
    .main_foto {
        
        display: flex;
       
       width: 100%;
      height: 624px;
      background-size: 436px;
      background-position: left;
    }

    .about_suvorin p {
        width: 400px;


}

    .column{
    	display: block;
    }

    .video_1{
    	display: block;
    	position: relative;
    }

	
}

















